.arrowToTop, .sidebar {
	display: flex;
	position: fixed
}
.ajs-button, .badge:after, i {
	text-align: center
}
* {
	font-family: 'Poppins', sans-serif;
}
body {
	font-size: 14px!important
}
.cta-heading {
	font-size: 70px!important
}
.overflow {
	overflow-x: hidden
}
.landing {
	background: url("../assets/images/home_bg2.jpg") center no-repeat!important;
	background-size: cover!important
}
.menuBannerBG {
	background: url("../assets/images/store_menu_bg.jpg") top no-repeat!important;
	background-size: cover!important;
}

/*
CSS trick to auto zoom image 
Chrome, Safari, Opera */
@-webkit-keyframes zoom {
    from {
    	-webkit-transform: scale(1,1);
    }
    to {
    	-webkit-transform: scale(1.5,1.5);
    }
}

/* Standard syntax */
@keyframes zoom {
   from {
        transform: scale(1,1);
   }
   to {
        transform: scale(1.5,1.5);
   }
}

/*
PARALLAX SCROLLING IMAGE EFFECT SECTION
CSS for container to hold background image itself
*/
.zoomBIn{
	background-image: url("../assets/images/just-cause-3.jpg");
	height: 400px;
	/* Create the parallax scrolling effect */
	background-position: center;
	background-repeat: no-repeat;
	  background-attachment: fixed;
	background-size: cover;
	  -webkit-animation: zoom 50s; /* Chrome, Safari, Opera */
    animation: zoom 50s;
	  animation-iteration-count: infinite;
}

/*
CSS for container to hold the background image container
Conceals the overflow that occurs as the image zooms in
*/
.zoomBOut {
height: 400px;
	overflow: hidden;
        position: relative;
  }


.navbar-item {
	font-size: 90%;
	letter-spacing: .1rem;
	transition: .2s linear
}
.navbar-end {
	align-self: center;
}
.navbar-button {
	font-size: .9rem
}
.no-padding-left {
	padding-left: 0
}
.no-padding-bottom {
	padding-bottom: 0
}
.button {
	transition: background-color .3s ease
}
.sidebar {
	right: -100%;
	top: 0;
	z-index: 100!important;
	width: 100%;
	height: 100vh;
	background-color: #f5f5f5;
	align-items: center;
	transition: right .3s ease
}
.sidebar-active {
	right: 0
}
.navbar-burger {
	z-index: 101
}
.has-text-link {
	color: #d20935!important;
}
.is-active span {
	background-color: #d20935
}
::-webkit-scrollbar {
	width: .3em
}
::-webkit-scrollbar-thumb {
	background-color: darkred;
	outline: #708090 solid 1px
}
::-webkit-scrollbar-track {
	background-color: #f5f5f5
}
.featured-game {
	border-radius: 5px
}
.service-img {
	margin: 0 auto
}
.opacity {
	opacity: 0;
	transition: opacity .2s ease-in
}
.opacityActive {
	opacity: 1
}
.icon-danger {
	color: #ff3860
}
.icon-success {
	color: #23d160
}
#YTHover:hover, #fbHover:hover, #twitterHover:hover, .footer-link {
	transition: background-color .2s linear
}
footer .footer-link:hover {
	background-color: #d20935
}
#fbHover:hover {
	background-color: #3b5998
}
#twitterHover:hover {
	background-color: #1dcaff
}
#YTHover:hover {
	background-color: red
}
.arrowToTop {
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	bottom: 2em;
	right: 2em;
	cursor: pointer;
	background-color: #d20935;
	visibility: hidden
}
.visible {
	visibility: visible
}
.auto-full-height {
	height: calc(100vh - 3.25rem)!important
}
.padding-inset {
	box-sizing: border-box;
	padding: 2rem
}
.scroll-y {
	overflow-y: scroll;
	margin-top: 1rem
}
.menu .menu-list a {
	background-color: transparent;
	transition: color .2s linear
}
.menu .menu-list a:hover {
	color: #d20935!important
}
#priceHigh {
	text-decoration: none
}
.opacityShow {
	-webkit-animation: opacity0to1 2s;
	-moz-animation: opacity0to1 2s;
	-o-animation: opacity0to1 2s;
	animation: opacity0to1 2s;
	transition: opacity .2 ease-in
}
@-webkit-keyframes opacity0to1 {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
@-moz-keyframes opacity0to1 {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
@-o-keyframes opacity0to1 {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
@keyframes opacity0to1 {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
.opacityHide {
	-webkit-animation: opacity1to0 2s;
	-moz-animation: opacity1to0 2s;
	-o-animation: opacity1to0 2s;
	animation: opacity1to0 2s
}
@-webkit-keyframes opacity1to0 {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
@-moz-keyframes opacity1to0 {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
@-o-keyframes opacity1to0 {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
@keyframes opacity1to0 {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
.dark {
	color: #fff!important
}
.equal {
	height: 355px
}
.ajs-message.ajs-custom {
	color: #fff;
	background-color: #d20935
}
.ajs-message.ajs-customSuccess {
	color: #fff;
	background-color: #23D160
}
.ajs-message.ajs-customDanger {
	color: #fff;
	background-color: #FF3860
}
.icon-blue {
	color: #08c
}
.icon-grey {
	color: grey
}
i {
	width: 100px;
	vertical-align: middle;
	position: relative
}
.badge:after {
	letter-spacing: -1px;
	content: attr(data-value);
	position: absolute;
	background: orange;
	height: 1rem;
	top: .5rem;
	right: .5rem;
	width: 1rem;
	line-height: 1rem;
	font-size: .5rem;
	border-radius: 50%;
	color: #fff
}
.alertify .ajs-header, .alertify.defaults.glossary.ok {
	background-color: #d20935
}
.dialog {
	position: relative;
	margin: 5% auto;
	min-height: 110px;
	max-width: 500px;
	padding: 24px 24px 0;
	outline: 0
}
.alertify .ajs-header {
	text-align: center;
	color: #fff
}
.alertify .ajs-commands button {
	background-color: #fff;
	border-radius: 50%
}
.alertify .ajs-footer .ajs-buttons.ajs-primary .ajs-button:nth-child(1) {
	background-color: #363636;
	color: #fff
}
.alertify .ajs-footer .ajs-buttons.ajs-primary .ajs-button:nth-child(2) {
	background-color: #f5f5f5;
	color: #000
}
.alertify .ajs-body .ajs-content {
	text-align: center;
	font-size: 16px;
}
.ajs-button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-size: 1rem;
	height: 2.25em;
	line-height: 1.5;
	padding-bottom: calc(.375em - 1px);
	padding-top: calc(.375em - 1px);
	position: relative;
	vertical-align: top;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-left: .75em;
	padding-right: .75em;
	white-space: nowrap;
	background-color: #f5f5f5;
	color: #363636
}
.game-gallery, .top {
	display: flex
}
.mt {
	margin-top: 2em
}
.modal-delete {
	position: absolute;
	top: 1rem;
	right: 1rem
}
.top {
	justify-content: space-between;
	margin-bottom: 3rem
}
.modal-card {
	width: 900px!important
}
.modal-card-body {
	padding: 3rem
}
.game-gallery a {
	margin: .2em
}
.text-blur {
	text-shadow: 2px 2px 4px #000000;
}
/* CSS for Google Sign In button and login page */
#sign-out {
	margin: auto;
}
.avatar {
	border-radius: 95%;
	height: 50px;
	width: 50px;
	padding: 3px;
}
#button-sign-out {
	display: inline-block;
	justify-content: center;
	font-size: 16px;
	width: 100px;
	height: 50px;
	border-radius: 1px;
	background-color: grey;
	border: 1px solid transparent;
	color: #fff;
	box-shadow: 1px 1px 1px grey;
	text-align: center;
}
#button-sign-out:hover {
	cursor: pointer;
}
#g-sign-in-wrapper {
	display: inline-block;
	width: auto;
	height: 50px;
	border-radius: 1px;
	background-color: #4285f4;
	border: 1px solid transparent;
	color: #fff;
	box-shadow: 1px 1px 1px grey;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*
Using Webkit to allow for glowing effect on element container hover
*/
@-webkit-keyframes greenPulse {
	from {
		background-color: #749a02;
		-webkit-box-shadow: 0 0 0 #333;
	}
	to {
		background-color: #91bd09;
		-webkit-box-shadow: 0 0 18px #91bd09;
	}
}
#g-sign-in-wrapper:hover {
	-webkit-animation-name: greenPulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-box-shadow: 0 0 18px #91bd09;
}
#g-sign-in-wrapper:hover {
	cursor: pointer;
}
.g-icon-wrapper {
	float: left;
	width: 40px;
	height: 50px;
	background: #fff;
	padding: 10px;
	border-radius: 1px;
}
.button-text {
	font-weight: 800;
	font-size: 16px;
	letter-spacing: .21px;
	margin: 0 6px 0 6px;
	line-height: 48px;
	vertical-align: top;
	text-align: center;
}
#button-sign-out-text {
	display: block;
	text-align: center;
}
